.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 60px); /* Resta el alto de la Navbar */
    padding-top: 60px; /* Espacio para la Navbar */
}

.form-container {
    background: white;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    width: 100%;
}